# Database
DATABASE_URL="mongodb+srv://khoa030577_db_user:@cluster.yc1srse.mongodb.net/netflix

# NextAuth
NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=7Cv9ei06qt/TFbmmPHt4GgKyfJxmkzU+kMKksEpqDIg=

# OAuth (Google)
GOOGLE_CLIENT_ID=205973744954-eoj3cqo8tq2iar3fit4lu39pmoe4c2pl.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-secret-key

# OAuth (GitHub)
GITHUB_ID=Ov23liGfvzqQPq21j1M0
GITHUB_SECRET=9172e61f4f1597fb5227e73ef7bddf96e0ad6890
